*
.DS_Store
!setup.sh
!README.md
!.gitignore
!mimeapps.list

# Track everything in these directories
!zed/
!zed/**
!btop/
!btop/**
!mako/
!mako/**
!fish/
!fish/**
!hypr/
!hypr/**
!nvim/
!nvim/**
!rofi/
!rofi/**
!tmux/
!tmux/**
!kitty/
!kitty/**
!micro/
!micro/**
!qt6ct/
!qt6ct/**
!qt5ct/
!qt5ct/**
!setup/
!setup/**
!waybar/
!waybar/**
!gtk-4.0/
!gtk-4.0/**
!gtk-3.0/
!gtk-3.0/**
!swaylock/
!swaylock/**

micro/syntax/
micro/backups/
fish/fish_variables
